nav.scrolled {
    background-color: white;
    color: black;
}
/* wait */
/*ttp ga bisa kah?*/
/* responsove */
div.navbar-nav {

}
/* responsive */

header#beranda {
    width: 500px;
}

#profile {
    padding: 80px, 0;
    color: white;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.profile-col1{
    flex-basis: 35%;
}
.profile-col1 img{
    width: 100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
