body * {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}

.navbar-nav a {
  text-decoration: none;
  position: relative;
}

.navbar-nav a::after {
  content: "";
  width: 0%;
  height: 3px;
  background: gray;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

.navbar-nav a:hover::after {
  width: 100%;
}
nav {
  width: 100%;
}
.scrolled {
  background-color: white;
  color: black;
}

.shadow-whites {
  text-shadow: 0px 1px 3px #fff;
}

.form-dark {
  background-color: rgba(70, 90, 126, 0.4) !important;
}

header#beranda {
  width: 500px;
}

.jumbotron-backdrop {
  background-color: rgba(0, 0, 0, 0.837);
  height: 100vh;
  width: 100%;
}
/* button */

button.btn-jumbotron {
  background-color: var(--lightgreen-1, #10b981);
  stroke-width: 1px;
  stroke: var(--lightgreen-1, #10b981);
  border: 1px solid var(--lightgreen-1, #10b981);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
button.btn-jumbotron:hover {
  background-color: var(--lightgreen-2, #059669);
  stroke-width: 1px;
  stroke: var(--lightgreen-2, #059669);
}
button.btn-jumbotron:focus {
  background-color: var(--lightgreen-1, #10b981);
  stroke-width: 1px;
  stroke: var(--lightgreen-2, #059669);
  border: 3px solid var(--lightgreen-2, #059669);
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}
button.btn-jumbotron:active {
  background-color: var(--lightgreen-1, #10b981);
  stroke-width: 1px;
  stroke: var(--lightgreen-2, #059669);
  border: 3px solid var(--lightgreen-2, #059669);
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}

/*  */

button.btn-kirim {
  background-color: var(--lightgreen-1, #10b981);
  stroke-width: 1px;
  stroke: var(--lightgreen-1, #10b981);
  border: 1px solid var(--lightgreen-1, #10b981);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
button.btn-kirim:hover {
  background-color: var(--lightgreen-2, #059669);
  stroke-width: 1px;
  stroke: var(--lightgreen-2, #059669);
}
button.btn-kirim:focus {
  background-color: var(--lightgreen-1, #10b981);
  stroke-width: 1px;
  stroke: var(--lightgreen-2, #059669);
  border: 3px solid var(--lightgreen-2, #059669);
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}
button.btn-kirim:active {
  background-color: var(--lightgreen-1, #10b981);
  stroke-width: 1px;
  stroke: var(--lightgreen-2, #059669);
  border: 3px solid var(--lightgreen-2, #059669);
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}

/*  */

button.btn-chat {
  background-color: var(--white-1, #fff);
  stroke-width: 1px;
  stroke: #10b981;
  border: 1px solid var(--lightgreen-1, #10b981);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
button.btn-chat:hover {
  background-color: #e7e7e7;
  stroke-width: 2px;
  stroke: var(--lightgreen-1, #10b981);
}
button.btn-chat:focus {
  background-color: var(--white-1, #fff);
  stroke-width: 2px;
  stroke: var(--lightgreen-1, #10b981);
  border: 3px solid var(--lightgreen-1, #10b981);
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}
button.btn-chat:active {
  background-color: var(--white-1, #fff);
  stroke-width: 2px;
  stroke: var(--lightgreen-1, #10b981);
  border: 3px solid var(--lightgreen-1, #10b981);
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}
/* button */

#profile1 {
  padding: 80px, 0;
  color: white;
  margin-top: 300px;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.profile-col1 {
  flex-basis: 35%;
}
.profile-col1 img {
  width: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.profile-col2 {
  margin-left: 20px;
}

#profile2 {
  margin-top: 2%;
}

#produk {
  margin-top: 50px;
}
.btn-primary {
  color: white;
  text-decoration: none;
}

.card {
  margin-bottom: 25px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
}
.card {
  box-shadow: 0px 1px 5px 0px #fff;
}

form input#nama {
  border-radius: 100px;
  border: 1px solid var(--lightgreen-1, #10b981);
}
form input#nama:focus {
  box-shadow: 0px 0.5px 5px 0px #10b981;
  border: 2px solid #34d399;
}
form input#nama::placeholder {
  color: var(--gray-1, #696e79);
  font-weight: 400;
}

form input#email {
  border-radius: 100px;
  border: 1px solid var(--lightgreen-1, #10b981);
}
form input#email:focus {
  box-shadow: 0px 0.5px 5px 0px #10b981;
  border: 2px solid #34d399;
}
form input#email::placeholder {
  color: var(--gray-1, #696e79);
  font-weight: 400;
}

form input#whatsapp {
  border-radius: 100px;
  border: 1px solid var(--lightgreen-1, #10b981);
}
form input#whatsapp:focus {
  box-shadow: 0px 0.5px 5px 0px #10b981;
  border: 2px solid #34d399;
}
form input#whatsapp::placeholder {
  color: var(--gray-1, #696e79);
  font-weight: 400;
}

form textarea#pesan {
  border-radius: 15px;
  border: 1px solid var(--lightgreen-1, #10b981);

  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
form textarea#pesan:focus {
  box-shadow: 0px 0.5px 5px 0px #10b981;
  border: 2px solid #34d399;
}
form textarea#pesan::placeholder {
  color: var(--gray-1, #696e79);
  font-weight: 400;
}

footer {
  background-color: #191e29;
  color: #fff;
  padding: 20px 0;
}

footer p {
  margin: 0;
}

footer .text-end {
  text-align: end;
}

.gallery-item {
  transition: transform 0.2s;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.card {
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.carousel-item {
  height: auto; /* Adjust the height based on your content */
}

.gallery-item {
  transition: transform 0.2s;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.item {
  width: 100%;
  max-width: 300px;
  height: 200px; /* Set a fixed height for all items */
  margin: 0 auto;
  overflow: hidden; /* Hide any overflow */
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  display: block;
  margin: 0 auto;
}

#toggle:checked ~ label div.toggle-circle {
  transform: translateX(20px);
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -o-transform: translateX(20px);
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

#toggle ~ label div.toggle-circle {
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

/* Responsive */

@media screen and (max-width: 992px) {
  nav-ul li {
    margin-top: 0px;
  }
}

/* tablet */
@media screen and (max-width: 768px) {
  .navbar-nav a:hover::after {
    width: 100%;
  }
  nav ul li {
    margin-top: 20px;
  }
  nav ul {
    position: absolute;
    right: 0;
    background-color: #e7e7e7;
  }
  nav ul li:last-child {
    margin-bottom: 20px;
  }
  header div#component-1 {
    max-width: 100vh;
  }
}

/* mobile */
@media screen and (max-width: 576px) {
  .navbar-nav a:hover::after {
    width: 100%;
  }
  nav ul li {
    margin-top: 20px;
  }
  nav ul li:last-child {
    margin-bottom: 20px;
  }
  nav ul {
    position: absolute;
    right: 0;
    background-color: #e7e7e7;
  }
  header div#component-1 {
    max-width: 100vh;
  }
}

.star {
  fill: url(#pattern0);
}

.info button {
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.info:hover button {
  opacity: 0.8;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
